
{% extends 'index.html' %}

{% load static%}
{% block content%}

<br>
<div class="container">
    <ul class="collection">
      
       {% for show in list_show%}
     
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <a href="{% url 'list_delete' %} "><button style="background-color: red;float: right;margin-left: 200px;" class="btn btn-danger">Delete</button></a>
          <span class="title">{{show.title}}</span>
          <p>{{show.paragraph}}<br>
           
          </p>
         

          
        </li>
        <br>

        
        
      {% endfor %}
      </ul>
              

</div>


{% endblock %}