{% load static%}
<!DOCTYPE HTML>
<html>
    <head><title>To do list application</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/script.js'%}">
    </head>
    <body style="background-color:lightsteelblue;"> 
        <nav style="background-color:blueviolet;">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>To do Work</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
              </ul>
            </div>
          </nav>
<br><br>
          <form action="{% url 'list_added' %}" method="post">
            {% csrf_token %}
              <h6 class="center">Add your to do list for making work more productive!</h6>
              <div class="container">
              <input type="text" name="title" placeholder="Enter title less than 20 words">
              <input type="text" name="paragraph" placeholder="Enter the words less than 200">
                <button class="btn btn-primary">Add to list</button>
              </div>
          </form>

          {% block content %}
          {% endblock%}
    </body>
</html>